// Colors
$color-primary: #333 ;
$color-primary-dark: #111;
$color-primary-light:#f7f7f7 ;
$color-gray-dark: #777;

// Spacing
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;// 1140px / 10 = 114rem
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

