/* Simple Reset */
*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// Want to be 1rem = 10px so default is  16px * 0.625 = 10px
	// Then 0.625 * 100% = 62.5%;
	font-size: 62.5%;
}
body {
	box-sizing: border-box;
	padding: 3rem;
}